nav p {
    display: inline;
    margin: 20px;
}

.panel-primary {
    display: flex;
}

.bigimage {
    height: 330px;
    width: 500px;
}

.smallimage {
    height: 200px;
    width: 280px;
}

.container {
    text-align: center;
}

.input[type="text"] {
    width: 200px;
    border: 1px solid black;
}

.center {
    text-align: center;
}

.input-style {
    width: 330px;
    height: 30px;
}

.input-style-big {
    width: 330px;
    height: 130px;
}

.word-wrap {
    word-wrap: break-word;
}

table, td {
    border: 1px solid black;
    padding: 8px 30px;
}

.centertext {
    text-align: center;
}

thead {
    background-color: beige;
}

.text-left {
    text-align: left;
}

h2 {
    text-align: center;
}

.margin-top-nav {
    margin-top: 30px;
}